<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</head>

<body >

    <div class="container" style="margin-top: 3%;" >
        <div class="row">
            <div class="col">
                <div class="alert alert-success" role="alert" style="text-align: center;">
                   <h1>Welcome to the Dashboard</h1> 
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 2%;">
            <div class="col-sm-6">
                <div class="img" >
                    <img src="https://image.freepik.com/free-vector/video-conferencing-concept-landing-page_52683-20651.jpg" style="width: auto;" alt="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10" style="margin: 14% 5%;">
                            <button class="btn btn-primary">Create New Meeting</button>
                            <br>
                            <br>
                            <form method="POST" action="/join" >
                                <div class="form-group">
                                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Meet link" name="link">
                                </div>
                                <button type="submit" class="btn btn-primary">Join Meeting</button>
                            </form>
                            <br>
                            <br>
                            <button class="btn btn-primary">Previous Meetings</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>